.Footer{
    height: 50px;
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //position: relative;
    //top:80px;
    padding-top: 20px;
}

.text{
    margin-left: 7%;
    color: rgb(139, 138, 138);
    height: 50%;
}

.images{
    margin-right: 7%;
    height: 50%;
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Footer img{
    height: 80%;
    width: 15%;
    padding:5px;
}

@media (max-width:785px){
    .images{
        width: 40%;
    }
}