<div class="Data">
    <div class="Column">
        <div class="Row">
            <div class="Line"></div>
            <h4>Easy payments</h4>
            <div class="Line"></div>
        </div>
        <img src="../../assets/Payment.png">
    </div>

    <div class="Column">
        <div class="Row">
            <div class="Line"></div>
            <h4>Our reviews</h4>
            <div class="Line"></div>
        </div>
        <div class="Rating">
            <!-- <div>4.9</div> -->
            <img src="../../assets/star.png" />
            <img src="../../assets/star.png" />
            <img src="../../assets/star.png" />
            <img src="../../assets/star.png" />
            <img src="../../assets/star.png" />
        </div>
    </div>
    <div class="Column">
        <div class="Row">
            <div class="Line"></div>
            <h4>Order Tracking</h4>
            <div class="Line"></div>
        </div>
        <div class="Row">
            <input class="tracking" type="text" placeholder="Enter Tracking Number">
            <input class="Trackbutton" type="button" value="→">
        </div>
    </div>
</div>