.user-details-container {
  top: 69px;
}
.Address {
  position: relative;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 2% 15%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .toCenter{
    margin: auto;
  }
}
.AddressRow {
  padding: 1% 0;
  display: flex;
  width: 800px;
  flex-direction: row;
  justify-content: space-between;
}

.Address label {
  display: block;
  width: 400px;
  padding-bottom: 10px;
}

.save-address-btn,
.proceed-btn {
  width: 30%;
  font-size: 20px;
  &:disabled {
    opacity: 0.5;
  }
}
.user-login {
  top: 69px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
h3.address-heading {
  position: relative;
  text-align: center;
  font-size: large;
  font-weight: 700;
  margin: 16px;
}
.stored-address {
  color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .address-block {
    margin: 0 16px;
    width: 100px;
    margin: 0 16px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    &.selected {
      border: 2px solid red;
    }
  }
  .new-address-block {
    margin: 0 16px;
    width: 100px;
    margin: 0 16px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    &.selected {
      border: 2px solid red;
    }
  }
}
@media (max-width: 785px) {
  .Address {
    padding: 5%;
    flex-direction: column;
    top: 50px;
  }

  .AddressRow {
    flex-direction: column;
    width: 100%;
  }

  .Address label {
    width: 100%;
  }
}
