<div *ngIf="!!this.service.loggedInUser" class="user-details-container">
  <h3 class="address-heading">Stored Addresses</h3>
  <div *ngIf="!!service.loggedInUserAddress" class="stored-address">
    <div
      class="address-block cursor-pointer"
      [class.selected]="
        i === service.loggedInUserAddress.indexOf(service.selectedAddress)
      "
      *ngFor="let userAddress of service.loggedInUserAddress; let i = index"
      (click)="selectStoredAddress(i)"
    >
      <b>{{ userAddress.first_name }}</b
      ><br />
      <span>{{ userAddress.address.house_building }}</span
      ><br />
      <span>{{ userAddress.address.city }}</span>
    </div>
    <div
      class="new-address-block cursor-pointer"
      [class.selected]="newAddressSelected"
      (click)="openNewAddress()"
    >
      Enter New Address
    </div>
  </div>
  <form
    class="Address"
    [formGroup]="userDetails"
    (ngSubmit)="submitBillingInfo()"
    *ngIf="newAddressSelected || !!service.selectedAddress"
  >
    <div class="toCenter">
      <h3>Billing Details</h3>
      <div class="AddressRow">
        <div>
          <label for="firstname">
            First Name<span class="required">*</span>
          </label>
          <input
            id="firstname"
            class="textbox MediumTextBox"
            type="text"
            formControlName="first_name"
            #firstNameInput
          />
        </div>
        <div>
          <label for="lastname">
            Last Name
          </label>
          <input
            id="lastname"
            class="textbox MediumTextBox"
            type="text"
            name="last_name"
            formControlName="last_name"
          />
        </div>
      </div>
      <div class="AddressRow">
        <div>
          <label for="contactNum">
            Mobile No.<span class="required">*</span>
          </label>
          <input
            id="contactNum"
            class="textbox MediumTextBox"
            type="number"
            name="mobile"
            formControlName="mobile"
          />
        </div>
        <div>
          <label for="email"> Email<span class="required">*</span> </label>
          <input
            id="email"
            class="textbox MediumTextBox"
            type="email"
            name="email"
            formControlName="email"
          />
        </div>
      </div>
      <ng-container formGroupName="address">
        <div class="AddressRow">
          <div>
            <label for="address1">
              House No., Building Name<span class="required">*</span>
            </label>
            <input
              id="address1"
              class="textbox LongtextBox"
              type="text"
              formControlName="house_building"
            />
          </div>
        </div>
        <div class="AddressRow">
          <div>
            <label for="address2">
              Road Name, Area, Colony<span class="required">*</span>
            </label>
            <input
              id="address2"
              class="textbox LongtextBox"
              type="text"
              formControlName="road_area_colony"
            />
          </div>
        </div>
        <div class="AddressRow">
          <div>
            <label for="city"> City<span class="required">*</span> </label>
            <input
              id="city"
              class="textbox MediumTextBox"
              type="text"
              formControlName="city"
            />
          </div>
          <div>
            <label for="state"> State<span class="required">*</span> </label>
            <input
              id="state"
              class="textbox MediumTextBox"
              type="text"
              formControlName="state"
            />
          </div>
        </div>
        <div class="AddressRow">
          <div>
            <label for="PinCode">
              Pin Code<span class="required">*</span>
            </label>
            <input
              id="pin"
              class="textbox MediumTextBox"
              type="text"
              formControlName="pincode"
            />
          </div>
        </div>
      </ng-container>
      <input
        type="submit"
        value="Save Address"
        class="button save-address-btn"
        [disabled]="newAddressSelected ? userDetails.invalid : true"
        *ngIf="newAddressSelected"
      />
    </div>
  </form>
  <form
    class="Address"
    *ngIf="newAddressSelected || !!service.selectedAddress"
    (ngSubmit)="proceedToOrder()"
  >
    <div class="toCenter">
      <h3>Sub Total</h3>
      <span>₹ {{ service.cartTotalAmount }}</span>
      <h3>Payment Mode</h3>
      <div class="AddressRow">
        <label for="pod">
          <input
            type="radio"
            id="pod"
            [formControl]="userPayment"
            value="pod"
          />
          Pay on Delivery</label
        ><br />
        <label for="card">
          <input
            type="radio"
            id="card"
            [formControl]="userPayment"
            value="online"
          />
          Card/Wallet/UPI</label
        ><br />
      </div>
      <input
        style="margin-bottom: 48px;"
        id="rzp-button1"
        type="submit"
        value="Proceed"
        class="button proceed-btn"
        [disabled]="userPayment.invalid || userDetails.invalid"
      />
    </div>
  </form>
</div>

<!-- <button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "YOUR_KEY_ID", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#F37254"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script> -->
