.Address{
  position: relative;
  top: 100px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 2% 15%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.AddressRow{
  padding : 1% 0;
  display: flex;
  width:800px;
  flex-direction: row;
  justify-content: space-between;
}

.Address label{
  display: block;
  width: 400px;
  padding-bottom: 10px;
}

.ProceedBtn{
  width: 60%;
  font-size: 20px;
}

@media (max-width:785px){
  .Address{
    padding: 5%;
    flex-direction: column;
    top: 50px;
  }

  .AddressRow{
    flex-direction: column;
    width:100%;
  } 

  .Address label{
    width: 100%;
  }

}
