<div class="AboutUs">
    <img class="bnrImg" src="../../assets/AboutUsImage.jpg">
    <div class="data">

        <ul class="list">
            <li>About us</li>
            <li>Contact us</li>
            <li>Shopping FAQ</li>
            <li>Privacy Policy</li>
        </ul>

        <div class="WriteUp">
            <p>
                Silver Life is a means to provide best quality medical products for all ages with a major focus 
                on people in elder age. We sell only originally designed and 100% tested products directly
                from our store. Our team, financial investors and business advisours consist of Indian and
                multicultural, multimedia professionals.
                We strives to share with the world the latest products and news about Health care through our
                online store, blog, Facebook, Twitter and more.
            </p>
            <h4>
                What we do: Elderly Care
            </h4>
            <p>
                We realise that people over 65 years old constitute the fastest growing
                segment of the population. There are a handful of private day care facilities for 
                elderly, but they are limited to the capital city. These day care services are very 
                expensive and beyond the reach of general public and the possibility of elder abuse is a continuing source of concern.
                Based on our experience, we decided to built a shopping
                platform from which anyone can purchase 100% genuine products of elderly medical needs,
                with ease and confidence of not being scammed by sellers on other websites.
            </p>
            <h4>
                Some brands we work with
            </h4>
            <div>
                <ng-marquee [stopOnHover]="true" speed="drowsy" style="position: relative;top:80px;height:200px;">
                    <mark style="background: transparent;">
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/3M.png" alt="3M" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/ACCUCHECK ROCHUE.png"
                          alt="ACCUCHECK ROCHUE"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/BECKTON DICKSON.png"
                          alt="BECKTON DICKSON"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/BEURER.jpg" alt="BEURER" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/BPL.png" alt="BPL" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/BSN.png" alt="BSN" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/COLOPLAST.png" alt="COLOPLAST" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/DATT MEDI.png" alt="DATT MEDI" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/EQUINOX.png" alt="EQUINOX" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/FARLIN.png" alt="FARLIN" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/HEINE.png" alt="HEINE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/HMD.png" alt="HMD" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/HOLLISTER.png" alt="HOLLISTER" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/KARMA.png" alt="KARMA" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/MOLNLYKE.png" alt="MOLNLYKE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/MRK HEALTHCARE.jpg"
                          alt="MRK HEALTHCARE"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/OMRON.png" alt="OMRON" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/PATANJALI.jpg" alt="PATANJALI" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/PHILIPS RESPIRONICS.png"
                          alt="PHILIPS RESPIRONICS"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/POLYMED.jpg" alt="POLYMED" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/PORTEX.jpg" alt="PORTEX" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/ROCHE.png" alt="ROCHE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/ROMSONS.png" alt="ROMSONS" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/RUSCH.jpg" alt="RUSCH" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/SD BIOSENSOR.png"
                          alt="SD BIOSENSOR"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/SMITH AND NEPHEW.png"
                          alt="SMITH AND NEPHEW"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/SOLOMAN BIOPHARMA.jpg"
                          alt="SOLOMAN BIOPHARMA"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/SURGICARE.png" alt="SURGICARE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/TYNOR.png" alt="TYNOR" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/WELCH ALLYN.jpg"
                          alt="WELCH ALLYN"
                        />
                      </a>
                    </mark>
                  </ng-marquee>
            </div>
        </div>
    </div>
</div>