<div class="AboutUs">
    <img class="bnrImg" src="../../assets/AboutUsImage.jpg">
    <div class="data">

        <ul class="list DesktopOnly">
            <li>About us</li>
            <li>Contact us</li>
            <li>Shopping FAQ</li>
            <li>Privacy Policy</li>
        </ul>

        <div class="WriteUp">
            <h4 class="MobileMargin">
              WHO WE ARE :
            </h4>
            <p class="MobileMargin LightText">
              We are a team of healthcare professionals, with diverse experience in Medicine, Pharmaceuticals,
              Supply chain and Information Technology. Our Team is having business experiences in Healthcare
              sets up and Tertiary care Multi speciality hospitals with decent exposure to HOME CARE to Elderly
              individuals. We strive to share our knowledge in form of best quality products to our ELDERS.
            </p>
            <h4 class="MobileMargin">
                WHAT WE DO: ONLINE SHOP
            </h4>
            <p class="MobileMargin">
              We love good quality products. Based on our experience, we decided to build a shopping platform
              from which anyone from anywhere in INDIA can purchase 100% genuine and good quality products
              with ease and confidence of not being scammed by sellers on other websites. We offer wide range
              of daily use healthcare products required by our ELDERS.
              We always purchase good quality products directly from authorized channels and negotiate the best
              prices for our shop and forward the same prices to our customers. To assure QUALITY we have
              shortlisted only BEST brands available in INDIA.              
            </p>
            <h4 class="MobileMargin">
                Some brands we work with
            </h4>
            <div>
                <ng-marquee [stopOnHover]="true"  duration="90s" style="position: relative;top:80px;height:200px;">
                    <mark style="background: transparent;">
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/3M.png" alt="3M" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/ACCUCHECK ROCHUE.png"
                          alt="ACCUCHECK ROCHUE"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/BECKTON DICKSON.png"
                          alt="BECKTON DICKSON"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/BEURER.jpg" alt="BEURER" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/BPL.png" alt="BPL" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/BSN.png" alt="BSN" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/COLOPLAST.png" alt="COLOPLAST" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/DATT MEDI.png" alt="DATT MEDI" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/EQUINOX.png" alt="EQUINOX" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/FARLIN.png" alt="FARLIN" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/HEINE.png" alt="HEINE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/HMD.png" alt="HMD" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/HOLLISTER.png" alt="HOLLISTER" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/KARMA.png" alt="KARMA" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/MOLNLYKE.png" alt="MOLNLYKE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/MRK HEALTHCARE.jpg"
                          alt="MRK HEALTHCARE"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/OMRON.png" alt="OMRON" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/PATANJALI.jpg" alt="PATANJALI" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/PHILIPS RESPIRONICS.png"
                          alt="PHILIPS RESPIRONICS"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/POLYMED.jpg" alt="POLYMED" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/PORTEX.jpg" alt="PORTEX" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/ROCHE.png" alt="ROCHE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/ROMSONS.png" alt="ROMSONS" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/RUSCH.jpg" alt="RUSCH" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/SD BIOSENSOR.png"
                          alt="SD BIOSENSOR"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/SMITH AND NEPHEW.png"
                          alt="SMITH AND NEPHEW"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/SOLOMAN BIOPHARMA.jpg"
                          alt="SOLOMAN BIOPHARMA"
                        />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/SURGICARE.png" alt="SURGICARE" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img src="../../assets/SliderImages/TYNOR.png" alt="TYNOR" />
                      </a>
                      <a style="padding: 5px; margin: 5px;">
                        <img
                          src="../../assets/SliderImages/WELCH ALLYN.jpg"
                          alt="WELCH ALLYN"
                        />
                      </a>
                    </mark>
                  </ng-marquee>
            </div>
        </div>
    </div>
</div>