<div class="AboutUs">
    <img src="../../assets/AboutUsImage.jpg">
    <div class="data">

        <ul class="list">
            <li>About us</li>
            <li>Contact us</li>
            <li>Shopping FAQ</li>
            <li>Privacy Policy</li>
        </ul>

        <div class="WriteUp">
            <p>
                Silver Life, LLC. We sell only originally designed and 100% tested products worldwide directly
                from our store. Our team, financial investors and business advisours consist of Indian and
                multicultural,
                multimedia professionals.
                We strives to share with the world the latest products and news about Health care through our
                online store, blog, Facebook, Twitter and more.
            </p>
            <h4>
                What we do: Give Best Advice
            </h4>
            <p>
                We love Indian original goods. But realise that it’s very difficult to buy genuine, the latest and
                limited versions of Indian products overseas. Based on our experience, we decided to built a
                shopping
                platform from which anyone from anywhere in the world can purchase 100% genuinly made in India most
                popular products of their dream, with ease and confidence of not being scammed by sellers on
                websites
                such as Amazon or eBay. The result is Silver Life Online Shop.
            </p>
            <h4>
                Some brands we work with
            </h4>
            <div>
                slider
            </div>
        </div>
    </div>
</div>