<div class="Cards">
  <div
    class="Card"
    *ngFor="let category of categories"
    [style.background-image]="
      'linear-gradient(to right,' +
      category.startColor +
      ',' +
      category.endColor +
      ')'
    "
    (click)="openSubCategoryList(category)"
  >
    <div>
      <h4>{{ category.name }}</h4>
      <p>SHOP NOW</p>
    </div>
    <img [src]="category.imgAddress" />
  </div>
</div>
<app-subcategories-modal
  [selectedCategory]="selectedCategory"
  (toggleSubCategoryModal)="toggleSubCategoryList = false"
  *ngIf="toggleSubCategoryList"
></app-subcategories-modal>
