.Cards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 80px;
    padding: 1% 10% 0 10%;
    background-color: #FAFAFA;
}

.Card{
    height: 105px;
    width: 500px;
    flex: 1 1 25%;
    flex-wrap: nowrap;
    border-radius: 15px;
    margin: 6px 6px 24px 6px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.Card:hover{
    box-shadow: 2px 2px 8px #dadada;
    margin:1px 6px 24px 6px;
}

.Card div{
    width: 50%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h4 {
        margin: 0;
        text-align: center;
    }
    p {
        height: 25px;
        width: 100px;
        font-weight: 700;
        white-space: nowrap;
        margin: 0;
        border-radius:  0 10px 10px 0;
        color: #3265B9;
        box-sizing: border-box;
    }
}
.Card img{
    height:105px;
    width:150px;
    border-radius: 0 15px 15px 0;
}
.sub-category-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    padding-top: 60px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
        position: relative;
        padding: 8px;
        #close{
            position: absolute;
            display: flex;
            justify-content: flex-end;
            padding: 8px;
            right: 0;
            z-index: 99;
        }
        a.close-link {
            background: #efacac;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
        }
        h3 {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 25px;
        }
        .sub-category-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex: 1 1 auto;
            flex-wrap: wrap;
            text-align: center;
            padding : 0 50px 50px 50px;
            align-items: center;
            .sub-category-cards {
                padding: 16px;
                font-size: 20px;
                width: 200px;
                height: 70px;
                margin: 8px;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                align-content: center;
                display: flex;
                align-items: center;
                justify-content: center;
                :hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width:785px){
    .sub-category-container{
        //background-color: transparent;
        overflow: scroll;
        top: 65px;
        padding-top: 0;
        .modal-content{
            background-color: rgba(255, 255, 255);
            width: 100%;
            margin:0;
            height: 100%;
            padding: 0;
            border: 1px solid #ffffff;
            h3 {
                position: relative;
                top:15px;
                font-size: 20px;
            }
            .sub-category-list{
                //justify-content: flex-start;
                padding : 0;
                .sub-category-cards{
                    width: 30%;
                    height: 40px;
                }
            }
        }
    }
}