<h3>Edit Profile</h3>
<form class="form" (ngSubmit)="editProfile()" [formGroup]="editProfileForm">
  <label for="user_name"> Username<span class="required">*</span> </label>
  <input
    formControlName="user_name"
    id="user_name"
    class="textbox"
    type="text"
    placeholder="Enter your user name"
  />

  <label for="first_name"> First Name:<span class="required">*</span> </label>
  <input
    formControlName="first_name"
    id="first_name"
    class="textbox"
    type="text"
    placeholder="Enter your first name"
  />
  <label for="last_name"> Last Name:<span class="required">*</span> </label>
  <input
    formControlName="last_name"
    id="last_name"
    class="textbox"
    type="text"
    placeholder="Enter your last name"
  />
  <label for="email">Email address<span class="required">*</span></label>
  <input
    style="opacity: 0.6;"
    readonly
    type="email"
    class="textbox"
    id="email"
    formControlName="email"
    email="true"
    placeholder="Enter your email"
  />
  <div
    *ngIf="
      editProfileForm.get('email').dirty &&
      editProfileForm.get('email')?.invalid
    "
    class="required"
  >
    Email is invalid
  </div>
  <label for="mobile">Mobile Number(+91-)</label>
  <input
    placeholder="Mobile number with 10 digits"
    type="number"
    class="textbox"
    id="mobile"
    formControlName="mobile"
    minlength="10"
    maxlength="10"
  />
  <div
    *ngIf="
      editProfileForm.get('mobile').dirty &&
      editProfileForm.get('mobile').invalid
    "
    class="required"
  >
    10 digit mobile number required
  </div>
  <input
    class="Loginbutton button"
    type="submit"
    [value]="'Edit Profile'"
    [disabled]="editProfileForm.invalid && editProfileForm.dirty"
    [class.disabled-input]="editProfileForm.invalid && editProfileForm.dirty"
  />
</form>
