<div class="OrderConfirmation">
  <div>
      <img class="success" src="../../assets/success.png">
  </div>
  <h2>Your order has been confirmed!</h2>
  <h4>Below are order details</h4>
  <div>
  <div class="details">
      <div class="detailsRow">
          <div class="rightBorder">Order Number</div>
          <div>110022333</div>
      </div>
      <div class="detailsRow">
          <div class="rightBorder">Order Date</div>
          <div>24 June 2020</div>
      </div>
      <div class="detailsRow">
          <div class="rightBorder">Expected Delivery Date</div>
          <div>1 July 2020</div>
      </div>
      <div class="detailsRow">
          <div class="rightBorder">Total Amount</div>
          <div>Rs {{service.cartTotalAmount}}</div>
      </div>
  </div>
  <input type="button" value="Continue Shopping" class="button ContnuShpg" (click) = "proceedToOrder()">
</div>
