<div class="Product">
  <div class="heading">
    <!-- <a>HOME</a><span> > </span><a>CATEGORY</a><span> > </span><a>SUB-CATEGORY</a
    ><span> > </span><span>PRODUCT NAME</span> -->
  </div>
  <div class="ProductDisplay">
    <div class="MobileOnly">
      <h1>{{ productDetail?.name }}</h1>
    </div>
    <div>
      <img [src]="productDetail?.imgAddress" />
    </div>
    <div class="DisplayDetails">
      <div class="DesktopOnly">
        <h1>{{ productDetail?.name }}</h1>
      </div>
      <div>
        <h2 class="Price">₹ {{ productDetail?.price }}</h2>
      </div>
      <!-- <div>
        <h4>Key Features</h4>
        <ul class="KeyFeatures">
          <li class="KeyFeature">Width: 1/2/3 inch</li>
          <li class="KeyFeature">Comes with dispenser</li>
          <li class="KeyFeature">Length: 10 yards/ 9.1m</li>
          <li class="KeyFeature">Non woven paper</li>
          <li class="KeyFeature">Latex free</li>
        </ul>
      </div> -->
      <div>
        <select
          class="SizeSelect"
          (change)="loadSelelectedVariant(selectedVarianted)"
          [(ngModel)]="selectedVarianted"
        >
          <option *ngFor="let variant of productVariants" [ngValue]="variant">{{
            variant.variantDesc
          }}</option>
        </select>
      </div>
      <div class="Quantity">
        <input
          type="button"
          value="-"
          class="minus"
          (click)="changeProductCount(-1)"
        />
        <input type="button" [value]="count" class="number" />
        <input
          type="button"
          value="+"
          class="plus"
          (click)="changeProductCount(1)"
        />
      </div>
      <div>
        <input
          type="button"
          [value]="btnText"
          class="SizeSelect"
          (click)="addGOTocart()"
        />
      </div>
    </div>
  </div>
  <app-item-overview [details]="productDetail"></app-item-overview>
</div>
