<form class="form" (ngSubmit)="changePwd()" [formGroup]="changePassword">
  <label for="username"> Email: <span class="required">*</span> </label>
  <input
    formControlName="email"
    id="email"
    class="textbox"
    type="text"
    placeholder="Enter your registered email"
  />
  <label for="oldPwd"> Old Password: <span class="required">*</span> </label>
  <input
    formControlName="oldPwd"
    id="oldPwd"
    class="textbox"
    type="password"
    placeholder="Enter your old password"
  />
  <label for="newPwd"> New Password: <span class="required">*</span> </label>
  <input
    formControlName="newPwd"
    id="newPwd"
    class="textbox"
    type="password"
    placeholder="Enter your new password"
    minlength="6"
    maxlength="15"
  />
  <div
    *ngIf="
      changePassword.get('newPwd').dirty &&
      changePassword.get('newPwd')?.errors?.minlength
    "
    class="required"
  >
    Password is required with minlength 6 characters
  </div>
  <div
    *ngIf="
      changePassword.get('newPwd').dirty &&
      changePassword.get('newPwd')?.errors?.maxlength
    "
    class="required"
  >
    Password is required with maxlength 15 characters
  </div>
  <div
    *ngIf="
      changePassword.get('newPwd').dirty &&
      changePassword.get('newPwd')?.errors?.sameNewPassword
    "
    class="required"
  >
    New password should not be same as old password
  </div>
  <input
    class="Loginbutton button"
    type="submit"
    value="Change Password"
    [disabled]="changePassword.invalid"
    [class.disabled-input]="changePassword.invalid"
  />
</form>
