<div class="CartSection">
    <div class="table">
        <ul class="tableRow">
            <li class="delBtn"> </li>
            <li class="Pic"> </li>
            <li class="Name"><b>Product</b></li>
            <li class="Pricing"><b>Price</b></li>
            <li class="Qty"><b>Quantity</b></li>
            <li class="total"><b>Total</b></li>
        </ul>
        <ul class="tableRow">
            <li class="delBtn"><span>X</span> </li>
            <li class="Pic"><img src="../../assets/SurgicalTape.jpg"> </li>
            <li class="Name"><span>Datt Velpore Paper Surgical Tape, Dispenser Pack</span></li>
            <li class="Pricing"><span>₹ 537</span></li>
            <li class="Qty">
                <div class="Quantity">
                    <input type="button" value="-" class="minus">
                    <input type="button" value="1" class="number">
                    <input type="button" value="+" class="plus">
                </div>
            </li>
            <li class="total">₹ 537</li>
        </ul>
        <ul class="tableRow">
            <li class="delBtn"><span>X</span> </li>
            <li class="Pic"><img src="../../assets/adult-walker.jpg"> </li>
            <li class="Name"><span>Adult Walker</span></li>
            <li class="Pricing"><span>₹ 2000</span></li>
            <li class="Qty">
                <div class="Quantity">
                    <input type="button" value="-" class="minus">
                    <input type="button" value="1" class="number">
                    <input type="button" value="+" class="plus">
                </div>
            </li>
            <li class="total">₹ 2000</li>
        </ul>
    </div>
    <div class="Pricetable">
        <ul class="tableRow">
            <li>
                <span><b>Price</b></span>
            </li>
            <li>
                <span>₹ 2537</span>
            </li>
        </ul>
        <ul class="tableRow">
            <li>
                <span><b>Delivery Fee</b></span>
            </li>
            <li>
                <span>₹ 200</span>
            </li>
        </ul>
        <ul class="tableRow">
            <li>
                <span><b>Total</b></span>
            </li>
            <li>
                <span><b>₹ 2737</b></span>
            </li>
        </ul>
        <div style="display: flex; justify-content: space-between;align-items: center;padding-top: 5%;">
            <input type="button" value="Checkout" class="SizeSelect">
            <a style="color: red;">Continue shopping</a>
        </div>
    </div>
</div>