<div class="CartSection">
  <div
    class="table"
    *ngIf="service.cartList.cartProducts.length > 0; else noItemInCart"
  >
    <ul class="tableRow Header">
      <li class="Pic"></li>
      <li class="Name"><b>Product</b></li>
      <li class="Pricing"><b>Price</b></li>
      <li class="Qty"><b>Quantity</b></li>
      <li class="total"><b>Total</b></li>
      <li class="delBtn"></li>
    </ul>
    <ul class="tableRow" *ngFor="let product of service.cartList.cartProducts">
      <li class="Pic"><img [src]="product.imgAddress" /></li>
      <li class="Name">
        <span>{{ product.name }}</span>
      </li>
      <li class="Pricing Price">
        <span>₹{{ product.price }}</span>
      </li>
      <li class="Qty">
        <div class="Quantity">
          <input
            type="button"
            value="-"
            class="minus"
            (click)="changeProductCount(product, -1)"
          />
          <input type="button" [value]="product.selectedCount" class="number" />
          <input
            type="button"
            value="+"
            class="plus"
            (click)="changeProductCount(product, 1)"
          />
        </div>
      </li>
      <li class="total DesktopOnly">
        ₹{{ product.price * product.selectedCount }}
      </li>
      <li class="delBtn" (click)="removeProduct(product)">X</li>
    </ul>
  </div>
  <ng-template #noItemInCart>
    <div class="no-item-cart">You Don't have any item into your card.</div>
  </ng-template>
  <div class="Pricetable" *ngIf="service.cartList.cartProducts.length > 0">
    <ul class="tableRow priceRow">
      <li>
        <span><b>Price</b></span>
      </li>
      <li>
        <span>₹ {{ getTotalProductAmount() }}</span>
      </li>
    </ul>
    <ul class="tableRow priceRow">
      <li>
        <span><b>Delivery Fee</b></span>
      </li>
      <li>
        <span>₹ {{ deliveryFee }}</span>
      </li>
    </ul>
    <ul class="tableRow priceRow Price">
      <li>
        <span><b>Total</b></span>
      </li>
      <li>
        <span
          ><b>₹ {{ getTotalAmount() }}</b></span
        >
      </li>
    </ul>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5%;
      "
    >
      <input
        type="button"
        value="Checkout"
        class="button CheckoutBtn"
        (click)="navigateToUserInfoPage()"
      />
      <a style="color: red;" routerLink="/home">Continue shopping</a>
    </div>
  </div>
</div>
