<div class="CartSection">
    <div class="table" *ngIf = "cartProductList.length>0;else noItemInCart">
        <ul class="tableRow">
            <li class="delBtn"> </li>
            <li class="Pic"> </li>
            <li class="Name"><b>Product</b></li>
            <li class="Pricing"><b>Price</b></li>
            <li class="Qty"><b>Quantity</b></li>
            <li class="total"><b>Total</b></li>
        </ul>
        <ul class="tableRow" *ngFor="let product of cartProductList">
            <li class="delBtn" (click) = "removeProduct(product)">X </li>
            <li class="Pic"><img src="../../assets/SurgicalTape.jpg"> </li>
            <li class="Name"><span>Datt Velpore Paper Surgical Tape, Dispenser Pack</span></li>
            <li class="Pricing"><span>{{product.price}}</span></li>
            <li class="Qty">
                <div class="Quantity">
                    <input type="button" value="-" class="minus" (click)= "changeProductCount(product, -1)">
                    <input type="button" [value]="product.selectedCount" class="number">
                    <input type="button" value="+" class="plus"  (click)= "changeProductCount(product, 1)">
                </div>
            </li>
            <li class="total">{{product.price * product.selectedCount}}</li>
        </ul>
    </div>
    <ng-template #noItemInCart>
      <div class="no-item-cart">You Don't have any item into your card.</div>
      </ng-template>
    <div class="Pricetable" *ngIf = "cartProductList.length>0">
        <ul class="tableRow">
            <li>
                <span><b>Price</b></span>
            </li>
            <li>
                <span>₹ {{getTotalAmount()}}</span>
            </li>
        </ul>
        <ul class="tableRow">
            <li>
                <span><b>Delivery Fee</b></span>
            </li>
            <li>
                <span>₹ {{deliveryFee}}</span>
            </li>
        </ul>
        <ul class="tableRow">
            <li>
                <span><b>Total</b></span>
            </li>
            <li>
                <span><b>₹ {{getTotalAmount() + deliveryFee}}</b></span>
            </li>
        </ul>
        <div style="display: flex; justify-content: space-between;align-items: center;padding-top: 5%;">
            <input type="button" value="Checkout" class="SizeSelect">
            <a style="color: red;">Continue shopping</a>
        </div>
    </div>
</div>
