<div>
  <div>
    <ul class="DescriptionLinks">
      <li
        (click)="showDetail('overview')"
        [class.active]="selectedHeading === 'overview'"
      >
        Overview
      </li>
      <li
        (click)="showDetail('usage')"
        [class.active]="selectedHeading === 'usage'"
      >
        Usage
      </li>
      <li
        (click)="showDetail('specification')"
        [class.active]="selectedHeading === 'specification'"
      >
        Specifications
      </li>
      <li
        (click)="showDetail('precaution')"
        [class.active]="selectedHeading === 'precaution'"
      >
        Precautions
      </li>
    </ul>
  </div>
  <div>
    <ul class="DescriptionSections">
      <li *ngIf="selectedHeading === 'overview'">
        <p>
          {{ details?.overview }}
        </p>
      </li>
      <li *ngIf="selectedHeading === 'usage'">
        <p>
          {{ details?.usage }}
        </p>
      </li>
      <li *ngIf="selectedHeading === 'specification'">
        <p>
          {{ details?.specification }}
        </p>
      </li>
      <li *ngIf="selectedHeading === 'precaution'">
        <p>{{ details?.precaution }}</p>
      </li>
    </ul>
  </div>
</div>
