<div>
  <div>
    <ul class="DescriptionLinks">
      <li>Overview</li>
      <li>Usage</li>
      <li>Specifications</li>
      <li>Precautions</li>
    </ul>
  </div>
  <div>
    <ul class="DescriptionSections">
      <li>
        <h4>Overview</h4>
        <p>
          {{ details?.overview }}
        </p>
      </li>
      <li>
        <h4>Usage</h4>
        <p>
          {{ details?.usage }}
        </p>
      </li>
      <li>
        <h4>Specifications</h4>
        <p>
          {{ details?.specification }}
        </p>
      </li>
      <li>
        <h4>Precautions</h4>
        <p>{{ details?.precaution }}</p>
      </li>
    </ul>
  </div>
</div>
