<nav>
    <ul class="Categories">
        <li class="Category" (click)="service.navigateToProductListpage('item-list', 'mobility',  undefined, undefined)">
            <img src="../../assets/Category/Mobility.svg" alt="Mobility" />
            <span >MOBILITY</span>
        </li>
        <li class="Category" (click)="service.navigateToProductListpage('item-list', 'hygiene',  undefined, undefined)">
            <img src="../../assets/Category/Hygiene.svg" alt="Hygine" />
            <span href="javascript.void()">HYGIENE</span>
        </li>
        <li class="Category" (click)="service.navigateToProductListpage('item-list', 'accessories',  undefined, undefined)">
            <img src="../../assets/Category/Accessories.svg" alt="Medical Wears" />
            <span >ACCESSORIES</span>
        </li>
        <li class="Category" (click)="service.navigateToProductListpage('item-list', 'nutrition',  undefined, undefined)">
            <img src="../../assets/Category/Nutrition.svg" alt="Nutrition" />
            <span >NUTRITION</span>
        </li>
        <li class="Category" (click)="service.navigateToProductListpage('item-list', 'devices',  undefined, undefined)">
            <img src="../../assets/Category/Devices.svg" alt="Devices" />
            <span >DEVICES</span>
        </li>
        <li class="Category" (click)="service.navigateToProductListpage('item-list', 'dailyCare',  undefined, undefined)">
            <img src="../../assets/Category/DailyCare.svg" alt="Daily Care" />
            <span >DAILY CARE</span>
        </li>
    </ul>
</nav>