<nav>
    <ul class="Categories">
        <li class="Category">
            <img src="../../assets/Category/Mobility.svg" alt="Mobility" />
            <a href="/">MOBILITY</a>
        </li>
        <li class="Category">
            <img src="../../assets/Category/Hygiene.svg" alt="Hygine" />
            <a href="/">HYGIENE</a>
        </li>
        <li class="Category">
            <img src="../../assets/Category/Accessories.svg" alt="Medical Wears" />
            <a href="/">ACCESSORIES</a>
        </li>
        <li class="Category">
            <img src="../../assets/Category/Nutrition.svg" alt="Nutrition" />
            <a href="/">NUTRITION</a>
        </li>
        <li class="Category">
            <img src="../../assets/Category/Devices.svg" alt="Devices" />
            <a href="/">DEVICES</a>
        </li>
        <li class="Category">
            <img src="../../assets/Category/DailyCare.svg" alt="Daily Care" />
            <a href="/">DAILY CARE</a>
        </li>
    </ul>
</nav>