<div class="Qualities">
    <h2>
        WE CARE FOR YOU
    </h2>
    <div class="Section">
        <div class="Quality">
            <img src="../../assets/marketing.svg">
            <h4>Best Quality Products</h4>
            <span>Everything at our store is 100% original only</span>
        </div>
        <div class="Quality">
            <img src="../../assets/saveMoney.svg">
            <h4>100% Damage Return</h4>
            <span>Full refund for damaged or defective items at receipt of delivery</span>
        </div>
        <div class="Quality">
            <img src="../../assets/lock.svg">
            <h4>Secure Transactions</h4>
            <span>Visa, Mastercard, etc. available. Secure https transactions</span>
        </div>
        <div class="Quality">
            <img src="../../assets/custCare.svg">
            <h4>Excellent Customer Service</h4>
            <span>We’re committed to assist you with your purchase & enquiry everyday</span>
        </div>
    </div>
</div>