<div id="main-container" #mainContainer [class.with-drawer]="toggleSideDrawer">
  <div
    class="close-icon-container"
    (click)="toggleDrawerForSideDrawer($event)"
    *ngIf="toggleSideDrawer"
  >
    <div class="close-icon">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
  <app-navigation
    (toggleDrawer)="toggleDrawerForSideDrawer($event)"
  ></app-navigation>
  <router-outlet></router-outlet>
  <app-qualities></app-qualities>
  <app-footer></app-footer>
</div>
<div class="side-drawer-content" id="side-drawer-div" *ngIf="toggleSideDrawer">
  <ul>
    <li class="MobileOnly cursor-pointer" (click)="listItemClicked('category')">
      Categories
    </li>
    <li
      class="MobileOnly cursor-pointer"
      routerLink="popular"
      (click)="toggleSideDrawer = false"
    >
      Popular
    </li>
    <li
      class="MobileOnly cursor-pointer"
      routerLink="sale"
      (click)="toggleSideDrawer = false"
    >
      Sale
    </li>
    <li class="MobileOnly cursor-pointer" (click)="listItemClicked('blog')">
      Blog
    </li>
    <li
      class="cursor-pointer"
      routerLink="account/login"
      (click)="actionSignSignOut()"
    >
      {{ !service.loggedInUser ? "Login" : "Logout" }}
    </li>
    <li
      class="cursor-pointer"
      routerLink="account"
      (click)="toggleSideDrawer = false"
    >
      Account
    </li>
    <li
      class="cursor-pointer"
      routerLink="aboutUs"
      (click)="toggleSideDrawer = false"
    >
      About us
    </li>
  </ul>
</div>
