.Justarrived{
    position: relative; 
    top:65px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Justarrived h1{
    margin-bottom: 0.5%;
}

.Justarrived a{
    color: red;
    text-decoration: underline solid red;
}

.Justarrived ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    /* padding: 1% 10% 0 15%; */
    width: 75%;
    margin-top: 3%;
    
}

.Justarrived ul li{
    border: rgb(211, 211, 211) solid 1px;
    padding: 2% 0 0 2%;
    list-style: none;
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

 .Justarrived ul li img{
    max-width: 75%;
    max-height: 75%;
    height: 60%;
    width: 75%;
}

.Justarrived ul li h3{
    height: 20%;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 2px;
}

.Justarrived ul li span{
    height: 10%;
    color: red;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width:785px){
    .Justarrived ul{
        width: 100%;
        padding-left: 0;
        
    }
    .Justarrived ul li{
        width: 45%;
        height: 200px;
        padding: 4% 0 0 4%;
        
    }

    .Justarrived ul li img{
        height: 100px;
        width: 100px;
    }

    .Justarrived ul li h3{
        font-size: 15px;
        width: 100%;
    }
}