<div class="Justarrived item-list-container">
    <div class="advices-container" *ngIf="!!productTypeForFilter">
       <h2>Advisory for the Product</h2>
    </div>
    <app-item-list-header [header]=header [hideAllNewLink] = hideAllNewLink></app-item-list-header>
    <ul>
        <li *ngFor="let product of productList"  (click)="openProductDetailPage(product.id)">
            <img src="../../assets/PillBox.jpg" />
            <h3>{{product.name}}</h3>
            <span>{{product.price}}</span>
        </li>
    </ul>
    <!-- <ul>
        <li (click)="openProductDetailPage('productId')">
            <img src="../../assets/PillBox.jpg" />
            <h3>Pill Box</h3>
            <span>₹300</span>
        </li>
        <li (click)="openProductDetailPage('productId2')">
            <img src="../../assets/hotwaterbottle.jpg" />
            <h3>Hot water bottle</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/Nebulizer.jpg" />
            <h3>Nebulizer</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/adult-walker.jpg" />
            <h3>Adult Walker</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/AirMattress.jpg" />
            <h3>Air Mattress</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/Thermometer.jpg" />
            <h3>Thermometer</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/BathSponges.jpg" />
            <h3>Bath Sponges</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/call-bell.jpg" />
            <h3>Call Bell</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/bedsore-dressings.jpg" />
            <h3>Bedsore Dressings</h3>
            <span>₹300</span>
        </li>
        <li>
            <img src="../../assets/blood-glucometer.jpg" />
            <h3>Blood Glucometer</h3>
            <span>₹300</span>
        </li>
    </ul> -->
</div>
