<div
  class="Justarrived item-list-container"
  *ngIf="productList?.length > 0; else noProduct"
>
  <app-item-list-header
    [header]="overviewOfSubcategory?.name"
    [hideAllNewLink]="hideAllNewLink"
  ></app-item-list-header>
  <ul>
    <li
      *ngFor="let product of productList"
      (click)="openProductDetailPage(product.id)"
    >
      <img [src]="product.imgAddress" />
      <h3>{{ product.name }}</h3>
      <span>₹{{ product.price }}</span>
    </li>
  </ul>
</div>
<ng-template class="Justarrived item-list-container" #noProduct>
  <div class="Justarrived item-list-container">No Product Found</div>
</ng-template>
