<div class="Toolbar">
  <div class="EmptyTool DesktopOnly"></div>
  <nav class="">
    <ul class="NavigationItems">
      <li
        class="NavigationItem DesktopOnly"
        (mouseover)="isCategoryHovered = true"
        (mouseleave)="isCategoryHovered = false"
      >
        <a routerLink="categories">Categories</a>
        <app-categories-modal
          *ngIf="isCategoryHovered"
          [modal]="false"
          [categories]="categories"
          (openSubCategory)="openSubCategory($event)"
        ></app-categories-modal>
      </li>
      <li class="NavigationItem DesktopOnly">
        <a routerLink="popular">Popular</a>
      </li>
      <li class="NavigationItem DesktopOnly">
        <a routerLink="sale">Sale</a>
      </li>
      <div class="Logo" (click)="navigateTo('home')">
        <img src="../../assets/LOGO.png" alt="SilverCare" />
      </div>
      <li class="NavigationItem DesktopOnly">
        <a (click)="focusToAdvisory()">Blog</a>
      </li>
      <li class="NavigationItem DesktopOnly">
        <a routerLink="aboutUs">About Us</a>
      </li>
      <li class="NavigationItem DesktopOnly">
        <a routerLink="account">Account</a>
      </li>
    </ul>
  </nav>
  <div
    style="display: flex; flex-direction: row; height: 100%; margin-top: 10px;"
  >
    <div
      class="Icon cursor-pointer"
      (click)="openCloseSearchModal = !openCloseSearchModal"
    >
      <img src="../../assets/Search.png" alt="Search" />
    </div>
    <div class="Icon cursor-pointer" routerLink="account">
      <img
        src="../../assets/Login.png"
        alt="Login"
        *ngIf="!service.sendUserDetail.value"
      />
      <span *ngIf="!!service.sendUserDetail.value" class="Icon signature">{{
        service.sendUserDetail.value?.first_name?.slice(0, 1).toUpperCase()
      }}</span>
    </div>
    <!-- <div
      *ngIf="!!service.sendUserDetail?.value"
      (click)="logout()"
      class="logout-link cursor-pointer"
    >
      <a>Logout</a>
    </div> -->
    <div class="Icon cursor-pointer" (click)="navigateTo('shopping-cart')">
      <div class="number">
        {{ !!service.cartList ? service.cartList?.cartProducts?.length : 0 }}
      </div>
      <img src="../../assets/Cart.png" alt="Cart" />
      <div class="modal cart-info" *ngIf="toggleNewItemAddedToCartModal">
        {{ newAddedProduct?.name }}
      </div>
    </div>
    <div class="DrawerToggle" (click)="openDrawer()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="modal search-modal-container" *ngIf="openCloseSearchModal">
    <div
      class="search-modal"
      appAutoClose
      (autoCloseOnclickOutside)="openCloseSearchModal = false"
    >
      <div class="inner-wrap">
        <select
          name="category"
          id="category"
          (change)="loadSubcategory(searchBarSelectedCategory)"
          [(ngModel)]="searchBarSelectedCategory"
        >
          <option *ngFor="let category of categories" [ngValue]="category">{{
            category.name
          }}</option>
        </select>
        <select
          name="subcategory"
          id="subcategory"
          [(ngModel)]="searchBarSelectedSubCategory"
        >
          <option>
            <input type="text" (keyup)="filterListSubCategoryList($event)" />
          </option>
          <option
            *ngFor="let subcategory of selectedCategorySubCategories"
            [ngValue]="subcategory"
            >{{ subcategory.name }}</option
          >
        </select>
        <form role="search" (ngSubmit)="searchInProducts()">
          <input
            type="text"
            name="s"
            id="s"
            value=""
            placeholder="Search"
            [(ngModel)]="searchedKeyword"
          />
          <input type="hidden" name="post_type" value="product" />
          <input type="submit" value="Search" />
          <div>Hit enter to search or ESC to close</div>
        </form>
        <div id="close">
          <a (click)="openCloseSearchModal = false">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-subcategories-modal
  [selectedCategory]="selectedCategory"
  (toggleSubCategoryModal)="toggleSubCategoryList = false"
  *ngIf="toggleSubCategoryList"
></app-subcategories-modal>
<app-categories-modal
  class="MobileOnly"
  [modal]="true"
  *ngIf="isCategoryClickedFromMobile"
  [categories]="categories"
  (toggleCategoryModal)="toggleCategoryModal()"
  (openSubCategory)="openSubCategory($event)"
></app-categories-modal>
