<h3>My Orders</h3>

<div class="order-list-container">
  <div class="order-item" *ngFor="let item of orderItems">
    <div class="order-item-details">
      <div class="order-date">
        <b>Order Date</b><br />
        <span>{{ dateUtils.getDateInfoFromString(item.order_date_time) }}</span>
      </div>
      <div class="total-price">
        <b>Total Price</b><br />
        <span>Rs: {{ item.total_price }}</span>
      </div>
      <div class="shipping-details">
        <b>Ship to: {{ item.user_details.first_name }}</b
        ><br />
        <span>{{ item.user_details.address.house_building }}</span>
      </div>
      <div class="order-details">
        <b>Order Id: {{ item.id }}</b
        ><br />
        <span></span>
      </div>
    </div>
    <div class="order-products-container">
      <div class="order-product" *ngFor="let product of item.product_details">
        <div><img [src]="product.imgAddress" alt="Product Image" /></div>
        <div>
          <span>{{ product.name }}</span
          ><br />
          <span>Price: Rs{{ product.price }},&nbsp;</span>
          <span>Selected Count: {{ product.selectedCount }}</span
          ><br />
          <span
            >Total Price: Rs{{ product.price * product.selectedCount }}</span
          >
        </div>
        <div>
          <button [routerLink]="['/product-detail', product.id]">
            Buy Again
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
