<div id="Layout">
  <app-banner></app-banner>
  <ng-marquee [stopOnHover]="true" speed="drowsy">
    <mark style="background: transparent;">
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/3M.png" alt="3M" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/ACCUCHECK ROCHUE.png"
          alt="ACCUCHECK ROCHUE"
        />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/BECKTON DICKSON.png"
          alt="BECKTON DICKSON"
        />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/BEURER.jpg" alt="BEURER" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/BPL.png" alt="BPL" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/BSN.png" alt="BSN" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/COLOPLAST.png" alt="COLOPLAST" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/DATT MEDI.png" alt="DATT MEDI" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/EQUINOX.png" alt="EQUINOX" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/FARLIN.png" alt="FARLIN" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/HEINE.png" alt="HEINE" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/HMD.png" alt="HMD" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/HOLLISTER.png" alt="HOLLISTER" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/KARMA.png" alt="KARMA" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/MOLNLYKE.png" alt="MOLNLYKE" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/MRK HEALTHCARE.jpg"
          alt="MRK HEALTHCARE"
        />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/OMRON.png" alt="OMRON" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/PATANJALI.jpg" alt="PATANJALI" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/PHILIPS RESPIRONICS.png"
          alt="PHILIPS RESPIRONICS"
        />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/POLYMED.jpg" alt="POLYMED" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/PORTEX.jpg" alt="PORTEX" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/ROCHE.png" alt="ROCHE" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/ROMSONS.png" alt="ROMSONS" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/RUSCH.jpg" alt="RUSCH" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/SD BIOSENSOR.png"
          alt="SD BIOSENSOR"
        />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/SMITH AND NEPHEW.png"
          alt="SMITH AND NEPHEW"
        />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/SOLOMAN BIOPHARMA.jpg"
          alt="SOLOMAN BIOPHARMA"
        />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/SURGICARE.png" alt="SURGICARE" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img src="../../assets/SliderImages/TYNOR.png" alt="TYNOR" />
      </a>
      <a style="padding: 5px; margin: 5px;">
        <img
          src="../../assets/SliderImages/WELCH ALLYN.jpg"
          alt="WELCH ALLYN"
        />
      </a>
    </mark>
  </ng-marquee>
  <app-major-categories></app-major-categories>
  <app-seasonal-banner></app-seasonal-banner>
  <app-category></app-category>
  <app-advisory></app-advisory>
  <!-- <app-item-list  header= "Just Arrived"  [hideAllNewLink]="false"></app-item-list> -->
  <app-review-tracking></app-review-tracking>
</div>
