<div class="Account">
  <div>
    <ul class="list">
      <li
        class="cursor-pointer"
        *ngIf="service.loggedInUser"
        routerLink="/account/orderSummary"
      >
        My Orders
      </li>
      <li
        class="cursor-pointer"
        *ngIf="service.loggedInUser"
        routerLink="/account/editProfile"
      >
        Edit Profile
      </li>
      <li>Contact Us</li>
      <li
        class="cursor-pointer"
        *ngIf="!service.loggedInUser"
        routerLink="/account/login"
      >
        Login/Register
      </li>
      <li
        class="cursor-pointer"
        routerLink="forgotPassword"
        *ngIf="!service.loggedInUser"
      >
        Forgot Password
      </li>
      <li
        class="cursor-pointer"
        routerLink="changePassword"
        *ngIf="service.loggedInUser"
      >
        Change Password
      </li>
    </ul>
  </div>
  <div class="working">
    <h1>My Account</h1>
    <router-outlet></router-outlet>
  </div>
  <!-- <app-contact-mail></app-contact-mail> -->
</div>
